<div class="about-section">
    <h1 class="text-center text-primary display-4">About Us</h1>
    <p class="para">Repairing gadgets and other services over this website without the need of going physically to the
        market is what this website all about. The Webiste is just like a retail store shopping
        that we do by going to the market, but it is done through this Website. This Website has made
        customer effort painless and more easy. It also provide product description, price and
        much more..</p>
    <p class="para">The ability to fix a electronic gadget rapidly became one of those skills every retailer wishes
        they had, and there’s a lot of demand in this market. The problem is that—with demand—comes
        competition.
        Our main aim of this website is to deliver a product within time. & maintain better customer
        relationship.
        This website provides a single roof for all electronic brand gadget repairing. It is also the best to
        get your electronic gadget repaired right at your doorstep.
    </p>
    <p class="para">Now the Repairing is easy..!!</p>
</div>

<h1 style="text-align:center; font-style: italic;">Our Team</h1>
<div class="row b" style="background-color: whitesmoke; margin-left: 55px;">
    <div class="column">
        <div class="card">
            <img src="assets/images/AA.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Abhishek Sherekar</h2>
                <p class="title">CDAC Kharghar Student</p>
                <p>Id: 20024032002</p>
                <p>abhisheksherekar@gmail.com</p>
                <p>Mobile No: +918698696745</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/images/A.jpeg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Akash Gupta</h2>
                <p class="title">CDAC Kharghar Student</p>
                <p>Id: 200240320012</p>
                <p>akash.gupta330@gmail.com</p>
                <p>Mobile No: +918087745363</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/images/D.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>Dhawal Bhakta</h2>
                <p class="title">CDAC Kharghar Student</p>
                <p>Id: 200240320033</p>
                <p>dhawalbhakta@gmail.com</p>
                <p>Mobile No: +918421129667</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/images/K.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Satish Kapase</h2>
                <p class="title">CDAC Kharghar Student</p>
                <p>Id: 200240320099</p>
                <p>satishkapse@gmail.com</p>
                <p>Mobile No: +917744049858</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/images/S.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Sayali Shejawal</h2>
                <p class="title">CDAC Kharghar Student</p>
                <p>Id: 200240320103</p>
                <p>sayalishejawal@gmail.com</p>
                <p>Mobile No: +919168191650</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/images/XX.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>Love From Our Team</h2>
                <p class="title">CDAC Kharghar Students</p>
                <p>Hope so that you love to explore our website.</p>
                <p>Keep Smiling</p>
                <p>Have A Great Day..!!</p>
            </div>
        </div>
    </div>


</div>