<nav class="navbar bg-secondary fixed-top mb-4 navbar-expand-lg ">
    <a class="navbar-brand" href="#">
        <!-- <b class="display-4"> CRM </b> -->
        <div> <img class="" style="margin-top: -40%;" src="assets/images/crm.png" alt="Book" /> </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-right text-light"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mr-auto"></div>
        <ul class="navbar-nav ">
            <li class="nav-item active" style="font-size: 20px;">
                <a class="nav-link text-light" href="#">
                    <button class="btn btn-lg btn-primary">Home</button>
                </a>
            </li>

            <li class="nav-item" style="font-size: 20px;">
                <a [routerLink]="['/about-us']" class="ml-2 nav-link text-light">
                    <button class="btn btn-lg btn-primary">About Us</button></a>
            </li>
            <li class="nav-item" style="font-size: 20px;">
                <a [routerLink]="['/contact-us']" class="ml-2 nav-link text-light">
                    <button class="btn btn-lg btn-primary">Contact us</button></a>
            </li>
            <li class="nav-item" style="font-size: 20px;">
                <a class="nav-link text-light">
                    <button *ngIf="checkLogin" class="btn btn-lg btn-primary">Order status</button></a>
            </li>
            <li class="nav-item" style="font-size: 20px;">
                <a class="nav-link ml-2 text-light">
                    <button *ngIf="checkLogin" (click)="logout()" class="btn btn-lg btn-danger">Log-out</button></a>
            </li>
            <li class="nav-item" style="font-size: 20px;">
                <a class="nav-link ml-2 text-light">
                    <button *ngIf="!checkLogin" class="btn btn-lg btn-success">Log-In</button></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br><br>
<div class="container-fluid">
    <div class="row mt-1" style="height: 100vh">
        <!-- left-block -->
        <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
            <img src="assets/images/88.jpg">
        </div>
        <!-- right-block -->
        <div class="col-md-7 border border-dark">
            <form #registerform="ngForm" (ngSubmit)="onSubmit()" class="was-validated">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col info-row bg-dark">Personal Info</div>
                        </div>
                        <div class="form-group">
                            <label for="">Full Name <span>*</span></label>
                            <input [(ngModel)]="provider.spName" name="spName" type="text" class="form-control"
                                minlength="3" maxlength="12" #userName="ngModel" pattern="[a-zA-Z]+" required
                                [class.is-invalid]="userName.invalid && userName.touched" id="fullName">
                            <div *ngIf="userName.errors && (userName.invalid && userName.touched)">
                                <div class="text-danger" *ngIf="userName.errors.required">Please Enter Your Name
                                </div>
                                <div class="text-danger" *ngIf="userName.errors.pattern">Please use alphabet only.
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="">City<span>*</span></label>
                            <input type="text" class="form-control" minlength="3" maxlength="12" pattern="[a-zA-Z]+"
                                required id="city">
                            <!-- <div *ngIf="cityName.errors && (cityName.invalid && cityName.touched)">
                            <div class="text-danger"  *ngIf="cityName.errors.required">Please Enter City
                                </div> -->
                            <!-- </div>   -->
                        </div>

                        <div class="form-group">
                            <label for="">Pin Code<span>*</span></label>
                            <input type="text" (keyup)="demo()" [(ngModel)]="provider.spPincode" name="spPincode"
                                class="form-control" #pinCode="ngModel" pattern="^[0-9]{6,}$" required
                                [class.is-invalid]="pinCode.invalid && pinCode.touched" id="Pincode">
                            <div *ngIf="pinCode.errors && (pinCode.invalid && pinCode.touched)">
                                <div class="text-danger" *ngIf="pinCode.errors.required">Please Enter pin-Code
                                </div>
                                <div class="text-danger" *ngIf="pinCode.errors.pattern">Pincode not valid.
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="">Address<span>*</span></label>
                            <textarea class="form-control" [(ngModel)]="provider.spLandmark" name="spLandmark" rows="4"
                                minlength="3" maxlength="30" #lankMark="ngModel" pattern="[a-zA-Z0-9]+" required
                                [class.is-invalid]="lankMark.invalid && lankMark.touched" id="comment" id="address"
                                required></textarea>

                            <div *ngIf="lankMark.errors && (lankMark.invalid && lankMark.touched)">
                                <div class="text-danger" *ngIf="lankMark.errors.required">Please Enter Address
                                </div>
                                <div class="text-danger" *ngIf="lankMark.errors.pattern">Please use alphabet value only.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col info-row bg-dark">Work Info</div>
                        </div>
                        <div class="form-group">
                            <label for="">Shop Name<span>*</span></label>
                            <input [(ngModel)]="provider.spShopname" name="spShopname" type="text" class="form-control"
                                id="sname" minlength="3" maxlength="12" #shopName="ngModel" pattern="[a-zA-Z]+" required
                                [class.is-invalid]="shopName.invalid && shopName.touched">

                            <div *ngIf="shopName.errors && (shopName.invalid && shopName.touched)">
                                <div class="text-danger" *ngIf="shopName.errors.required">Please Enter Your Name
                                </div>
                                <div class="text-danger" *ngIf="shopName.errors.pattern">Please use alphabet only.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Registration No<span>*</span></label>
                            <input [(ngModel)]="provider.spRegnumber" name="spRegnumber" type="text" minlength="3"
                                maxlength="12" #regNo="ngModel" pattern="[a-zA-Z0-9]+" required
                                [class.is-invalid]="regNo.invalid && regNo.touched" class="form-control" id="regno">

                            <div *ngIf="regNo.errors && (regNo.invalid && regNo.touched)">
                                <div class="text-danger" *ngIf="regNo.errors.required">Please Enter Your Name
                                </div>
                                <div class="text-danger" *ngIf="regNo.errors.pattern">Please use alphabet only.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">GST no : <span>*</span></label>
                            <input type="text" [(ngModel)]="provider.spGSTno" name="spGSTno" class="form-control"
                                minlength="3" maxlength="12" #GSTno="ngModel" pattern="[a-zA-Z0-9]+" required
                                [class.is-invalid]="GSTno.invalid && GSTno.touched">
                            <div *ngIf="GSTno.errors && (GSTno.invalid && GSTno.touched)">
                                <div class="text-danger" *ngIf="GSTno.errors.required">Please Enter Your GST no
                                </div>
                                <div class="text-danger" *ngIf="GSTno.errors.pattern">Please use alphabet only.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">City/Area<span>*</span></label>
                            <input type="text" [(ngModel)]="provider.spCity" name="spCity" class="form-control"
                                minlength="3" maxlength="12" #spCity="ngModel" pattern="[a-zA-Z]+" required
                                [class.is-invalid]="spCity.invalid && spCity.touched" id="city">


                            <div *ngIf="spCity.errors && (spCity.invalid && spCity.touched)">
                                <div class="text-danger" *ngIf="spCity.errors.required">Please Enter Your City
                                </div>
                                <div class="text-danger" *ngIf="spCity.errors.pattern">Please use alphabet only.
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col info-row bg-dark">Registartion Info</div>
                        </div>
                        <div class="form-group">
                            <label for="">Email Id<span>*</span></label>
                            <input type="text" [(ngModel)]="provider.spEmail" name="spEmail" class="form-control"
                                minlength="3" maxlength="12" #userEmail="ngModel"
                                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)" required
                                [class.is-invalid]="userEmail.invalid && userEmail.touched" id="emailId">


                            <div *ngIf="userEmail.errors && (userEmail.invalid && userEmail.touched)">
                                <div class="text-danger" *ngIf="userEmail.errors.required">Please Enter Your Email
                                </div>
                                <div class="text-danger" *ngIf="userEmail.errors.pattern">Please use alphabet only.
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="">Contact No<span>*</span></label>
                            <input type="text" [(ngModel)]="provider.spMobilenumber" name="spMobilenumber" minlength="3"
                                maxlength="12" #mobNo="ngModel" pattern="[0-9]+" required
                                [class.is-invalid]="mobNo.invalid && mobNo.touched" class="form-control" id="contactNo">

                            <div *ngIf="mobNo.errors && (mobNo.invalid && mobNo.touched)">
                                <div class="text-danger" *ngIf="mobNo.errors.required">Please Enter Mobile no
                                </div>
                                <div class="text-danger" *ngIf="mobNo.errors.pattern">Please Numeric only.
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="">Password<span>*</span></label>
                            <input type="password" [(ngModel)]="provider.spPasssword" name="spPasssword" minlength="3"
                                maxlength="12" #passWord="ngModel" pattern="[a-zA-Z0-9]*[@#]+" required
                                [class.is-invalid]="passWord.invalid && passWord.touched" class="form-control"
                                id="password">

                            <div *ngIf="passWord.errors && (passWord.invalid && passWord.touched)">
                                <div class="text-danger" *ngIf="passWord.errors.required">Please Password
                                </div>
                                <div class="text-danger" *ngIf="passWord.errors.pattern">Password must contain 1 special
                                    character.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="btn btn-dark " type="submit">Sign Up !</button>
                <button type="reset" class="btn ml-3 btn-danger">Reset</button>
                <br> <br>
                <div><a href="/sp_login">Do you have already account?</a></div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>