		
.form-item {
    margin-left: 5px;
}

.info-row {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
span{
    color:red;
}
img {
    height: 100%;
    width: 100%;
}