<header style="background-image: linear-gradient(to bottom,#e5eff5, rgb(62, 154, 216));">
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="#">
                <!-- <b class="display-4"> CRM </b> -->
                <div> <img class="" style="margin-top: -25%;" src="assets/images/crm.png" alt="Book" /> </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-right text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                <ul class="navbar-nav ">
                    <li class="nav-item active" style="font-size: 20px;">
                        <a class="nav-link text-dark" href="#">HOME
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item" style="font-size: 20px;">
                        <a routerLink="/customer/login" class="nav-link text-dark">LOGIN</a>
                    </li>
                    <li class="nav-item" style="font-size: 20px;">
                        <a class="nav-link text-dark" [routerLink]="['/about-us']">ABOUT</a>
                    </li>
                    <li class="nav-item" style="font-size: 20px;">
                        <a class="nav-link text-dark" [routerLink]="['/contact-us']">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-7 col-sm-12  text-white">

                <h1 class="display-4 text-dark">Welcome to Online gadget reparing.</h1>
                <p style="color:rgb(181, 219, 226);">
                    A Powerfull platform for electronic equipment.</p>
                <a routerLink="/sp_register"> <button class="btn btn-light px-5 py-2 primary-btn">
                        Join Us
                    </button></a>
            </div>
            <div class="col-md-5 col-sm-12 homeimage h-30 ">
                <img class="mt-5 ml-5" src="assets/images/2.svg" alt="Book" />
            </div>
        </div>
    </div>
</header>





<main>
    <section class="section-4">
        <div class="container text-center">
            <h1 style="color: #2C3E50;">⚙️ How We Work ? </h1>
            <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error pariatur tempora,
                reprehenderit quis laboriosam incidunt iusto nobis sit distinctio architecto..
            </p>
        </div>
        <div class="team row ">
            <div class="col-md-4 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                        <img src="../assets/fe1.png" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Book a Repair</h3>
                        <p class="card-text" style="font-size: 16px;">
                            100% satisfication and prompt service guaranteed...!!!
                            You just have to relax and receive the device at your place.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner text-center">
                        <div class="carousel-item active">
                            <div class="card mr-2 d-inline-block shadow">
                                <div class="card-img-top">
                                    <img src="../assets/fe2.png" class="img-fluid rounded-circle w-50 p-4" alt="">
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Free Pickup & Drop
                                    </h3>
                                    <p class="card-text" style="font-size: 16px;">
                                        You can be located any where, our technicians will reach out to you and pick up
                                        your device. Your experience at FMG will be hassle-free. </p>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card  d-inline-block mr-2 shadow">
                                <div class="card-img-top">
                                    <img src="../assets/fe3.png" class="img-fluid rounded-circle w-50 p-4" alt="">
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Diagnose And Fix</h3>
                                    <p class="card-text" style="font-size: 16px;">
                                        We understand how difficult it is when your Laptop is not working due to some
                                        reason. Right from screen replacement, hinge repair, to critical Motherboard
                                        repairs we do it all.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow">
                    <div class="card-img-top">
                        <img src="../assets/fe4.png" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Free Delivery</h3>
                        <p class="card-text" style="font-size: 16px;">
                            We will call and confirm the delivery time and location with you and will deliver the device
                            to you. You just have to relax and receive the device at your place. </p>

                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- ------------------------------------------------------ -->

    <section class="section-2 container-fluid p-0">
        <div class="cover">
            <div class="overlay"></div>
            <div class="content text-center">
                <h1>Some Features That Made Us Unique</h1>
                <p>
                    Take control of your monthly expenditure and streamline your finance management.
                </p>
            </div>
        </div>
        <div class="container-fluid text-center">
            <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                <div class="rect">
                    <h1>2345</h1>
                    <p>Positive Reviews</p>
                </div>
                <div class="rect">
                    <h1>35100</h1>
                    <p>Active Users</p>
                </div>
                <div class="rect">
                    <h1>1056</h1>
                    <p>Socila Reach</p>
                </div>
                <div class="rect">
                    <h1>2152</h1>
                    <p>Happy Clients</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-3 container-fluid p-0 text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>Want to become service Partner ?</h1>
                <p class="text-bold">
                    Want to become service Partner ?
                </p>
            </div>
        </div>
        <div class="platform row">
            <div class="col-md-6 col-sm-12 text-right">
                <div class="desktop shadow-lg">
                    <div class="d-flex flex-row justify-content-center">
                        <i class="fas fa-sign-in-alt fa-3x py-2 pr-3"></i>
                        <div class="text text-left">
                            <a routerLink="/sp_register">
                                <h3 class="pt-1 m-0">Register for provider</h3>
                            </a>
                            <p class="p-0 m-0">Welcome to our Family</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-left">
                <div class="desktop shadow-lg">
                    <div class="d-flex flex-row justify-content-center">
                        <i class="fas fa-user fa-3x py-2 pr-3"></i>
                        <div class="text text-left">
                            <a routerLink="/admin-login">
                                <h3 class="pt-1 m-0">Administration.</h3>
                            </a>
                            <p class="p-0 m-0">only for admin</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- -------------------------------------------------------- -->

    <section class="section-4">
        <div class="container text-center">
            <h1 class="text-dark">What We Do ? </h1>
            <p class="text-secondary">----------------------------</p>
        </div>
        <div class="team row ">
            <div class="col-md-4 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                        <img src="../assets/UI-face-4.jpg" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"> 📱 MOBILE PHONES</h3>
                        <p class="card-text" style="font-size: 16px;">
                            Get your Phone screen replacement done to the earliest which is our prime specialization.

                        </p>

                        <p class="text-black-50">CEO at Google</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner text-center">
                        <div class="carousel-item active">
                            <div class="card mr-2 d-inline-block shadow">
                                <div class="card-img-top">
                                    <img src="../assets/UI-face-1.jpg" class="img-fluid rounded-circle w-50 p-4" alt="">
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">💻 TABLET & IPAD</h3>
                                    <p class="card-text" style="font-size: 16px;">
                                        Facing an issue with your Tablet? Whether it is screen damage, charging issue,
                                        adapter issue or some other issue, we will get your Tablet fixed in a single
                                        day.

                                    </p>

                                    <p class="text-black-50">CEO at Google</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card  d-inline-block mr-2 shadow">
                                <div class="card-img-top">
                                    <img src="../assets/UI-face-2.jpg" class="img-fluid rounded-circle w-50 p-4" alt="">
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">💻 DESKTOP & LAPTOP</h3>
                                    <p class="card-text" style="font-size: 16px;">
                                        We understand how difficult it is when your Laptop is not working due to some
                                        reason. Right from screen replacement, hinge repair, to critical Motherboard
                                        repairs we do it all.
                                    </p>

                                    <p class="text-black-50">CEO at Google</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                        <img src="../assets/UI-face-4.jpg" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">💻 DESKTOP & LAPTOP</h3>
                        <p class="card-text" style="font-size: 16px;">
                            We understand how difficult it is when your Laptop is not working due to some
                            reason. Right from screen replacement, hinge repair, to critical Motherboard
                            repairs we do it all.
                        </p>

                        <p class="text-black-50">CEO at Google</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>






<footer>
    <div class="container-fluid p-0">
        <div class="row text-left">
            <div class="col-md-5 col-sm-5">
                <h4 class="text-light">About us</h4>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, accusantium temporibus! Eius
                    neque ullam nihil eveniet dolor ratione! Ipsa sunt odit laudantium laborum assumenda temporibus
                    corporis doloribus unde totam possimus!
                <p class="pt-4 text-muted">Copyright ©️2020 All rights reserved |<span> CDAC MUMBAi.
                    </span>
                </p>
            </div>
            <div class="col-md-5 col-sm-12">
                <h4 class="text-light">Newsletter</h4>
                <p class="text-muted">Stay Updated</p>
                <form class="form-inline">
                    <div class="col pl-0">
                        <div class="input-group pr-5">
                            <input type="text" class="form-control bg-dark text-white"
                                id="inlineFormInputGroupUsername2" placeholder="Email">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-sm-12">
                <h4 class="text-light">Follow Us</h4>
                <p class="text-muted">Let us be social</p>
                <div class="column text-light">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</footer>