<!--MIDDLE-COLOUM-->
<div class="col-md-6  align-items-center justify-content-center ">
    <div class="row d-flex align-items-center  justify-content-center" style="height: 20vh;">
    </div>
    <div class="row shadow ml-0 mr-5">
        <div class="col-4  text-dark d-flex align-items-center justify-content-center"
            style="height: 50vh; background-color: #00cba9;">
            <b> ADMIN LOGIN </b></div>
        <div class="col-8  d-flex align-items-center  justify-content-center"
            style="height: 50vh; background: whitesmoke; ">
            <form #loginform="ngForm" (ngSubmit)="adminLogin()">
                <div class="ml-5 form-group display-3">
                    <i class="fas fa-user-friends"></i> </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Email-id" required
                        [(ngModel)]="admin.adminEmail" name="adminEmail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter Password" required
                        [(ngModel)]="admin.adminPassword" name="adminPassword">
                </div>
                <div class="form-group">
                    <input type="submit" class="rounded-pill form-control btn btn-info">
                </div>
                <div class="form-group text-center">
                    <a routerLink="/admin/register"> Dont't have account ?
                        <br>
                    </a>
                    <a href="3"> Forgot Password ? </a> </div>

            </form>
        </div>
    </div>
</div>