<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-6  d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
            <div> <i id="icn" class="fa fa-check-circle" aria-hidden="true"></i> </div> <br>
            <h2 class="text-danger">BAD CREDENTIALS....</h2>

            <h5>check your email-id or password</h5>

            <a routerLink="/homepage"> <button type="button" class="btn btn-outline-danger">BACK TO HOME</button>
            </a>
        </div>
    </div>
</div>