<div class="container-fluid jumbotron">
    <table class="table table-light">
        <tbody>

            <tr>
                <td>{{productList.productType}}</td>
                <td>{{productList.brandName}}</td>
                <td>{{productList.purchaseDate}}</td>
                <td>{{productList.modelNo}}</td>
                <td>{{productList.productIssue}}</td>
                <td>{{productList.pickupCity}}</td>
                <td>{{productList.pinCode}}</td>
                <td>{{productList.mobileNumber}}</td>
                <td>{{productList.orderStatus}}</td>
                <!-- <td> <button (click)="onSelect(user.spID)" class='btn btn-dark'>Select </button> </td> -->
            </tr>
        </tbody>
    </table>
</div>