<nav class="navbar navbar-expand-sm navbar-light bg-light shadow sticky-top" style="background-color: whitesmoke">
    <a class="navbar-brand" href="#"> LOGO </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item  ml-4">
                <a class="nav-link" href="#"><b> Home </b></a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="#"> <b>About-us </b> </a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="#"><b> contact-us </b></a>
            </li>
            <li class="nav-item ml-4 ">
                <a class="nav-link" href="#"><b> Logout </b></a>
            </li>

        </ul>
    </div>
</nav>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#" class="" style="font-size: 6vh;">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#">About</a>
            </li>

            <li>
                <a href="#">New Request</a>
            </li>

            <li>
                <a href="#">Your Orders</a>
            </li>

            <li>
                <a href="#">Status of Orders</a>
            </li>
            <li>
                <a href="#">Contact-us</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <!-- <div id="pa5ge-content-wrapper">
        <div class="container-fluid">
            <div class="row " style="height: 40%;">
                <div class="col bg-info">
                    1
                </div>
            </div>
        </div>
    </div> -->

    <div class="contaner-fluid">
        <div class="row">
            <div class="col  bg-info" style="height: 60vh;">
                images
            </div>
        </div>
        <div class="row text-center p-5">
            <div class="col " style="height: 20vh;">
                <h4>Want to book Service request ? </h4>
                <button routerLink="/new_request" class="btn btn-dark"> Book request </button>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<br>
<footer class="page-footer font-small  bg-light text-dark" style="background-color: whitesmoke">
    <div class="footer-copyright text-center">Created by :</div>
    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> CDAC</a>
    </div>
    <!-- Copyright -->
</footer>