<!-- <p>home-page works!</p>
<a routerLink="/customer/register"> customer register </a> -->
<!-- <div class="row bg-warning">
    <div class="col-4"> <button class="btn btn-outline-success"> Become a service partner with us </button></div>
    <div class="col-4">+91 xxxxxxxxx</div>
    <div class="col-4"> example@gmail.com </div>
</div> -->
<nav class="navbar navbar-expand-sm navbar-light bg-light shadow sticky-top" style="background-color: whitesmoke">
    <a class="navbar-brand" href="#"> LOGO </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item  ml-4">
                <a class="nav-link" href="#"><b> Home </b></a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="#"> <b>About-us </b> </a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="#"><b> contact-us </b></a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" routerLink="/customer/register"><b> Register here </b></a>
            </li>

            <li class="nav-item ml-4">
                <a class="nav-link" routerLink="/customer/login"><b> Login here </b></a>
            </li>

        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row" style="height: 90vh;">
        <img class="img-fluid card-img  h-100 w-100 p-5" src="assets/images/1.jpg" alt="images">
    </div>
</div>
<div class="container text-center jumbotron">
    <h3 class="text-primary">!<u> What We Do ? </u> </h3><br><br><br>
    <div class="row justify-content-center" style="height: 50vh;">
        <div class="col-sm-3 shadow mr-5">
            <div style="font-size: 6vh;"> 📱 </div>
            <h2>MOBILE PHONES</h2> <br>
            <div class="text-center ">
                Get your Phone screen replacement done to the earliest which is our prime specialization.

            </div>
        </div>
        <div class="col-sm-3 shadow mr-5">
            <div style="font-size: 6vh;"> 💻 </div>
            <h2>DESKTOP & LAPTOP</h2> <br>
            <div class="text-center ">
                We understand how difficult it is when your Laptop is not working due to some reason. Right from screen
                replacement, hinge repair, to critical Motherboard repairs we do it all.

            </div>
        </div>
        <div class="col-sm-3 shadow mr-5">
            <div style="font-size: 6vh;"> 💻 </div>
            <h2>TABLET & IPAD</h2> <br>
            <div class="text-center ">
                Facing an issue with your Tablet? Whether it is screen damage, charging issue, adapter issue or some
                other issue, we will get your Tablet fixed in a single day.

            </div>
        </div>
    </div>
</div><br>
<br><br>
<div class="container-fluid text-center jumbotron">
    <h3 class="text-primary">⚙️<u> How We Work </u></h3><br><br><br>
    <div class="row justify-content-center" style="height: 40vh;">
        <div class="col-sm-2 shadow mr-5">

            <h3>Book a Repair</h3> <br>
            <div class="text-center ">
                100% satisfication and prompt service guaranteed...!!!
            </div>
        </div>
        <div class="col-sm-2 shadow mr-5">

            <h3>Free Pickup & Drop</h3> <br>
            <div class="text-center ">
                You can be located any where, our technicians will reach out to you and pick up your device. Your
                experience at FMG will be hassle-free.

            </div>
        </div>
        <div class="col-sm-2 shadow mr-5 ">

            <h3>Diagnose And Fix</h3> <br>
            <div class="text-center ">
                We understand how difficult it is when your Laptop is not working due to some reason. Right from screen
                replacement, hinge repair, to critical Motherboard repairs we do it all.

            </div>
        </div>
        <div class="col-sm-2 shadow">

            <h3>Free Delivery</h3> <br>
            <div class="text-center ">
                We will call and confirm the delivery time and location with you and will deliver the device to you. You
                just have to relax and receive the device at your place.
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div><br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h3 class="text-info">Want to become service Partner ? </h3>
            <a routerLink="/sp_register"> <button class="btn btn-outline-secondary"> Click Here..!! </button> </a>
        </div>
        <div class="col text-center">
            <h3 class="text-info">FOR ADMIN </h3>
            <a routerLink="/admin-login"> <button class="btn btn-outline-secondary"> ADMIN</button> </a>
        </div>
    </div>
</div>
<br>
<br>
<footer class="page-footer font-small jumbotron " style=" color: black;">
    <div class="footer-copyright text-center">Created by :</div>
    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> CDAC</a>
    </div>
    <!-- Copyright -->
</footer>